body {
  color: rgb(241, 207, 10);
  background: rgb(211, 15, 15);
  margin: 0px;
  font-family: "Poller One", sans-serif;
  margin-bottom: 100px;
}

header {
  border-bottom: solid 2px blue;
  padding: 20px;
  font-size: 32px;
  color: yellow;
}

.chamada{
  background: rgb(4, 18, 221);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.chamada-texto {
  margin-right: 5%;
}

h1{
  font-size: 40px;
}
p{
  font-size: 20px;
}
.categoria-videos{
  display: flex;
  overflow-x: auto;
  gap: 10px;
}
.categoria{
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}
.categoria-videos img{
  opacity: 0.5;
  height: 200px;
}
.categoria-videos img:hover{
  opacity: 1.0;
  border: 1px solid rgb(210, 0, 252)
}
.categoria h2{
  color:rgb(0, 255, 213)
}