body {
  color: rgb(241, 207, 10);
  background: rgb(211, 15, 15);
  margin: 0px;
  font-family: "Poller One", sans-serif;
}

header {
  border-bottom: solid 2px blue;
  padding: 20px;
  font-size: 32px;
  color: yellow;
}

section {
  background: rgb(4, 18, 221);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.chamada-texto {
  margin-right: 5%;
}